/* Start stype index.html */
* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
#barraTopo {
    width: 100%;
    height: 78px;
    background-color: #0181a4;
    border-bottom: 2px solid red;
    background: linear-gradient(180deg, #0181a4, white)
}
.container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}
#logoTopo {
    float: left;
    width: 50%;
    height: 78px;
    text-align: left;
    line-height: 78px;
    font-size: 30px;
}
#logoTopo a {
    text-decoration: none;
    color: white;
    transition: all 0.5s;
}
#logoTopo a:hover {
    color: #888888;
    font-size: 32px;
    text-shadow: 0px -3px 1px #232222;
}
#linksTopo {
    float: right;
    width: 50%;
    height: 78px;
}
#linksTopo ul {
    list-style-type: none;
    float: right;
    line-height: 78px;
}
#linksTopo li {
    float: left;
}
#linksTopo li a {
    color: white;
    text-decoration: none;
    line-height: 78px;
    transition: all 0.5s;
    line-height: 78px;
    margin-left: 15px;
}
#linksTopo li a:hover {
    color: #888888;
    font-size: 17px;
    line-height: 78px;
}
#frontBanner {
    width: 100%
}
#fraseBanner {
    font-size: 8em;
    position: absolute;
    color: white;
    top: 300px;
    text-shadow: 0px 5px 1px #232222;
    width: 100%;
    max-width: 1000px;
}
@media only screen and (max-width: 1124px) {
    #fraseBanner {
        font-size: 7em;
    }
}
@media only screen and (max-width: 701px) {
    #fraseBanner {
        font-size: 4em;
    }
}
#preViewAbout {
    float: left;
    width: 48%;
    height: 300px;
    background-color: #2f8493;
    border-top-left-radius: 40px;
    margin: 10px;
    box-shadow: -5px 5px 5px white;
    background: linear-gradient(45deg, white, #2f8493)
}
@media only screen and (max-width: 701px) {
    #preViewAbout {
        width: 45%;
        height: auto;
    }
    #preViewProjects {
        width: 45%;
        height: auto;
    }
}
.textBox {
    float: left;
    text-align: center;
    padding: 50px;
}
#preViewProjects {
    float: right;
    width: 48%;
    height: 300px;
    background-color: #2f8493;
    border-top-right-radius: 40px;
    margin: 10px;
    box-shadow: 5px 5px 5px white;
    background: linear-gradient(-45deg, white, #2f8493)
}
@media only screen and (max-width: 701px) {
    #preViewProjects {
        width: 45%;
        height: 420px;
    }
}
#buttonLeft {
    float: left;
    clear: both;
    height: 100px;
    width: 48%;
    background-color: blue;
    margin: 10px;
    box-shadow: -5px 5px 5px white;
    border-bottom-left-radius: 40px;
    text-align: center;
    line-height: 100px;
    font-size: 40px;
    transition: all 0.5s linear;
}
@media only screen and (max-width: 701px) {
    #buttonLeft {
        width: 45%;
    }
}
#buttonLeft a {
    color: white;
    text-decoration: none;
    transition: all 0.5s linear;

}
#buttonLeft:hover {
    font-size: 43px;
    background-color: rgb(224, 224, 0);
}
#buttonRight {
    float: right;
    height: 100px;
    width: 48%;
    background-color: blue;
    margin: 10px;
    border-bottom-right-radius: 40px;
    box-shadow: 5px 5px 5px white;
    text-align: center;
    line-height: 100px;
    font-size: 40px;
    transition: all 0.5s linear;
}
@media only screen and (max-width: 701px) {
    #buttonRight {
        width: 45%;
    }
}
#buttonRight a {
    color: white;
    text-decoration: none;
    transition: all 0.5s linear;

}
#buttonRight:hover {
    font-size: 43px;
    background-color: #ff6060;
}
#footer {
    clear: both;
    width: 100%;
    height: 78px;
    background-color: #0181a4;
    border-top: 2px solid red;
    margin-top: 550px; 
    background: linear-gradient(white, #0181a4)
}
#byMe {
    line-height: 78px;
    color: #c80000;
    float: left;
}
#phone {
    line-height: 78px;
    color: #c80000;
    float: right;
}

/* End style index.html */

/* Start style about.html */

#fraseBannerA {
    font-size: 9em;
    position: absolute;
    color: white;
    top: 500px;
    text-shadow: 0px 5px 1px #232222;
    width: 100%;
    max-width: 1000px;
}
@media only screen and (max-width: 1200px) {
    #fraseBannerA {
        font-size: 7em;
    }
}
#textA {
    color: white;
}
#footerA {
    clear: both;
    width: 100%;
    height: 78px;
    background-color: #0181a4;
    border-top: 2px solid red;
    margin-top: 50px; 
    background: linear-gradient(white, #0181a4)
}
.image1 img {
    float: right;
    margin: 5px;
    border: 1px solid red;
}
#image1 .p1 {
    margin-top: 100px;
    display: block;
}
.band {
    float: left;
    border: 1px solid red;
    margin: 5px;
    margin-bottom: 30px;
}
.calc {
    float: right;
    border: 1px solid red;
    margin: 5px;
    margin-bottom: 30px;
}
#lastPhoto {
    text-align: left;
}
#lastPhoto img {
    float: left;
    margin-right: 20px;
    margin-bottom: 30px;
    border: 1px solid red;
    margin-left: 1px;
}
#buttonProject {
    width: 100%;
    background-color: rgb(226, 226, 0);
    height: 100px;
    text-align: center;
    transition: all 0.5s linear;
    font-size: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
#buttonProject a {
    text-decoration: none;
    color: white;
    line-height: 100px;
}
#buttonProject:hover {
    font-size: 50px;
    background-color: #ff6060;
}

/* End style about.html */

/* Start style projects.html */

#fraseBannerP {
    font-size: 15em;
    position: absolute;
    color: white;
    top: 500px;
    text-shadow: 0px 5px 1px #232222;
    width: 100%;
    max-width: 1000px;
}
@media only screen and (max-width: 1200px) {
    #fraseBannerP {
        font-size: 7em;
    }
}
#footerP {
    clear: both;
    width: 100%;
    height: 78px;
    background-color: #0181a4;
    border-top: 2px solid red;
    margin-top: 100px; 
    background: linear-gradient(white, #0181a4)
}
#project1 {
    width: 100%;
    height: 700px;
    margin-bottom: 30px;
    margin-top: 30px;
}
#textProject1 {
    width: 40%;
    color: white;
    float: left;
    padding-top: 20%; 
    padding: 50px;
}
#textProject1 ul {
    list-style: none;
}
#textProject1 a {
    text-decoration: none;
}
#viewProject1 {
    width: 50%;
    height: 100%;
    float: right;
}
#project2 {
    width: 100%;
    height: 500px;
    margin-bottom: 30px;
    margin-top: 30px;
}
#textProject2 {
    width: 40%;
    color: white;
    float: left;
    padding-top: 20%; 
    padding: 50px; 
}
#textProject2 a {
    text-decoration: none;
}
#viewProject2 {
    width: 50%;
    height: 100%;
    float: right;
}
#project3 {
    width: 100%;
    height: 650px;
    margin-bottom: 30px;
    margin-top: 30px;
}
#textProject3 {
    width: 20%;
    color: white;
    float: left;
    padding: 0 40px 40px 40px; 
}
#textProject3 a {
    text-decoration: none;
}
#viewProject3 {
    width: 70%;
    height: 100%;
    float: right;
}

/* End style projects.html */

/* Start style contact.html */

#footerC {
    clear: both;
    width: 100%;
    height: 78px;
    background-color: #0181a4;
    border-top: 2px solid red;
    margin-top: 50px; 
    background: linear-gradient(white, #0181a4)
}

#barraTopoC {
    width: 100%;
    height: 78px;
    background-color: #0181a4;
    border-bottom: 2px solid red;
    background: linear-gradient(180deg, #0181a4, white);
    margin-bottom: 50px;
}

#formC { 
    margin: auto;
    width: 100%;
    max-width: 500px;
    color: white;
    text-align: left;
}
#formC input {
    margin-bottom: 10px;
    margin-top: 10px;
    border: 0px;
    border-radius: 10px;
    font-size: 15px;
    height: 30px;
    padding-left: 10px;
}
#formC textarea {
    border: 0px;
    border-radius: 10px;
    font-size: 15px;
    padding-top: 10px;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}
#formC button {
    width: 50%;
    height: 50px;
    font-size: 20px;
}

/* End style contact.html */